.capstan{
    color:  #666666;
}
.gold-leaf{
    background-color: #02A3C1;
    
}
.black-devil{
    box-shadow: 0 4px 8px 0 rgba(94, 94, 94, 0.2), 0 6px 20px 0 rgba(104, 104, 104, 0.19);
}


.alignment{
    text-align: left !important;
    margin-left: 10px !important;
}