.ota{
    position: relative;
    top: -3%;
}
.icolors{
    color:#757575;
}
.btn-00{
    margin-left: 36%;
    width: max-content;
}
.btn-000{
    margin-left: 43%;
    width: max-content;
}
@media only screen and (max-width:800px) {
    .btn-00{
        margin-left: 1%;
    }
    .btn-000{
        margin-left: 1%;
    }

    
}

@media (min-width:600px) and (max-width:800px) {
    .hxn_card{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        /* margin-left: 60px; */
        width: 133% !important;
    }
}

@media (min-width:800px) and (max-width:1200px) {
    .btn-00{
        margin-left: 16%;
    }
}