.ReactFlagsSelect-module_selectBtn__19wW7 {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-family: inherit;
    color: #4d4d4d;
    border: thin solid rgba(77, 77, 77, 0.3);
    border-radius: 0px !important;
    background: transparent;
}