.swipppr {
    margin-top: 60px;
}

.silde img {
    width: 330px;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 50px;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination-bullet {
    border: 2px solid #02A3C1;
    background-color: transparent !important;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 18px)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 18px)) !important;
}

.swiper-pagination-bullet-active {
    background-color: #02A3C1 !important;
}